.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
}
img{
    background-color: #fff;
    width: 200px;
}
button{
    padding:  10px 14px;
    width: 100px;
    height: 40px;
    background-color: #FF7629;
    color: #F3F3F3;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}