.nav{
    width:95%;
    height: 5rem;
    padding:1rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
button{
    padding:.5rem;
    width: 6rem;
    height: 3rem;
    border: 1px solid #FF7629;
    border-radius: .5rem;
    color: #F3F3F3;
    background-color: #FF7629;
    text-transform: capitalize;
    font-weight: 700;
}
button:hover{
    background-color: #fff;
    color: #FF7629;
}