:root{
    --primary: #FF7629;
    --secondary:#000080;
    --body:#f3f3f3;
    --light:400;
    --medium:600;
    --bold:800;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--body);
}
.header{
    width: 100%;
    height: 5.8rem;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background:white;
    padding: 0.9rem;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
}

.logout{
    background: var(--primary);
    color:white;
    font-weight: var(--medium);
    font-size:1rem;
    letter-spacing: .2rem;
    padding: 1rem;
    height: 3rem;
    border-radius: .5rem;
    outline:none;
    border:none;
}
.add-task{
    display: flex;
    justify-content: center;
    align-items: center;
}
#addnewtaskbutton{
    background: var(--primary);
    color:white;
    font-weight: var(--medium);
    font-size:1rem;
    width:8rem;
    height: 3rem;
    border-radius: .5rem;
    outline:none;
    border:none;
}

.section2{
    width:98%;
    height: 80vh;
    display: grid;
    grid-template-columns: 20rem 1fr;
    letter-spacing: .1rem;
    margin: 1rem 0 .5rem .5rem;
}
.navigation{
    background: var(--secondary);
    height:100%;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
    border-radius: .5rem;
}
.item{
    width: 94%;
    margin: 0 auto;
    padding:.5rem;
    height: 7rem;
    background: var(--body);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-weight:var(--medium);
    font-size: 1.4rem;
    color: var(--secondary);
    border-radius: .5rem;
    cursor:pointer;
}
.item:hover,.item span ion-icon:hover{
    background-color: var(--primary);
    color: white;
}
.item span ion-icon{
    font-size: 1.8rem;
}
#tasks{
    background:white;
    margin-left:1rem;
    border-radius: .5rem;
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    /* gap:1rem; */
    height:100%;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
}

#task{
    background:#f3f3f3;
    width:13rem;
    height: 13rem;
    border-radius: .5rem;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: .5rem;
    margin: 1rem;
    padding:.5rem;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
}

h1,h2,h3{
    color: var(--secondary);
}

.task p{
    color: var(--primary);
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    width: 40%;
    height: 70%;
    margin-top: 1rem;
    margin-left: 25rem;
    background-color: rgba(0,0,128,.9);
    border-radius: .5rem;

  }
  
  #modalcontent {
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 1rem;
    border-radius: .5rem;
    width: 20rem;
  }

  #modalcontent label{
    color: var(--secondary);
    font-weight: var(--bold);
    letter-spacing: .1rem;
  }

  #modalcontent input{
    height: 2rem;
    border: 1px solid var(--primary);
    border-radius: .3rem;
    padding: .5rem;
  }
  
  #close-btn {
    height: 2rem;
    margin-top: 10px;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: .5rem;
  }

  #submit{
    height: 2rem;
    background-color: var(--primary);
    color: white;
    border: 1px solid var(--primary);
    border-radius: .5rem;
  }
  .profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .delete a{
    color: red;
    font-size: 1.2rem;
  }
  .welcomeadmin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }