*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    gap: 70rem;
    margin-top: 2rem;
    padding: 20px;
    height: 10vh;
}

.logout{
    background-color:  #FF7629;
    color: white;
    width: 5%;
    height: 5vh;
    border: 1px solid  #FF7629;
    border-radius: 5px;
    margin-top: 1rem;
}

.addnewtaskbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50rem;
    margin-top: 20rem;
}

.section2{
    display: flex;
}

.tasks{
    width: 75%;
    border: 1px solid rgb(163, 159, 159);
    margin-top: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 2rem;
   margin-bottom: 1rem;
   background-color: white;
    display: grid;
    grid-template-columns: repeat(4,18rem);
}


#addnewtaskbutton{
    background-color: #FF7629;
    color: white;
    padding: 10px;
    border: 1px solid #FF7629;
    border-radius: 10px;
    margin-top: 2rem;
    margin-left: 50rem;
}

.navigation{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 65vh;
    margin-top: 1rem;
}


.dashboardbutton{
    background-color: white;
    border: 1px solid white;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}

#projectsbutton{
    background-color: #FF7629;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border: 1px solid #FF7629;
    border-radius: 5px;
}

.usersbutton{
    background-color: white;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.task1{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task2{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task3{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task4{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task5{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task6{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task7{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task8{
    background-color: grey;
    width: 60%;
    padding: 20px;
    border-radius: 5px;
}

.task1, h1,h2,h3{
    color: #000080;
}

.task1,.task2,.task3,.task4,.task5,.task6,.task7,.task8 p{
    color: #FF7629;
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    /* left: 0;
    top: 0; */
    width: 70%;
    height: 70%;
    /* margin-left: 70rem; */
    background-color: rgba(0, 0, 0, 0.4);
    margin-left: 20rem;
  }
  
  #modalcontent {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 25px;
  }

  #modalcontent label{
    color: #000080
  }

  #modalcontent input{
    background-color: rgb(214, 212, 212);
    color: white;
  }
  
  #close-btn {
    margin-top: 10px;
    background-color: #FF7629;
    color: white;
    border: 1px solid #FF7629;
  }

  #submit{
    background-color: #FF7629;
    color: white;
    border: 1px solid #FF7629;
  }


 