/* root styles */
:root{
    --primary: #FF7629;
    --secondary:#000080;
    --body:#f3f3f3;
    --light:400;
    --medium:600;
    --bold:800;
}
/* global styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F3F3F3;
}
/* .container{
    width:95%;
    height:100%;
    margin: 0 auto;
    background-color: red;
} */
/* Register section start */
/* .register-page{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
} */
/* Register section end */

/* register form start */
/* .register-details,form,h1,label{
    background-color: #fff;
}
.register-details{
    margin: .5rem;
    padding: 1.5rem;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
} */
.left{
    height:49rem;
    padding:.5rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    /* background-color: green; */
}
.container .right{
    background:white;
    height:95%;
    /* width: 100%; */
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    /* background:green; */
    border-radius: .5rem;
    padding:2rem;
}
.container .right h1{
    font-size: 1.8rem;
    color: var(--secondary);
    padding:.5rem;
    background-color: white;
    text-transform: capitalize;
}
.container .left img{
   width:98%;
}
/* }
label{
    text-transform: capitalize;
    color: #000080;
    font-weight: 700;
    margin-bottom: 0.6rem;
}
input{
    margin-bottom: 1.5rem;
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: .3rem;
    height: 1.6rem;
    padding: .6rem;
}
.input-btn{
    padding: .4rem .6rem;
    height: 2.5rem;
    color: #F2F2F2;
    background-color: #FF7629;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid #FF7629;
    border-radius: .6rem;
}
.input-btn:hover{
    color: #FF7629;
    background-color: rgb(219, 219, 219);
} */

.container{
    width:80%;
    height: 70%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-top: 1rem;
    /* background: red; */
    margin: 0 auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding:.5rem;

}

/* form section start */
form{
    width:34rem;
    /* width:100%; */
    padding: 1rem;
    background:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
    height:34rem;
    margin-top:2rem;
    gap:.8rem;
}
form label{
    font-size:1.2rem;
    color:var(--secondary);
    font-weight:var(--bold);
}
form input{
    width:90%;
    padding:.5rem;
    height:3rem;
    font-size:1.1rem;
    background: #f3f3f3;
    /* color:white; */
    border: none;
    border-radius: .5rem;
    margin-bottom:1rem;

}
form input:focus{
    border:none;
    outline:none
}

form button{
    background:var(--primary);
    border:none;
    width:90%;
    padding:.5rem;
    height: 3rem;
    font-size:1.1rem;
    color:white;
    letter-spacing:.2rem;
    font-weight:var(--medium);
    border-radius: .5rem;
}

form button:hover{
   /* opacity: .7; */
   background-color:#000080;
}
form label{
    background-color: white;
    text-transform:capitalize;
}