

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
/* nav start */
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background-color: #fff;
}
img{
    background-color: #fff;
    width: 200px;
}
button{
    padding:  10px 14px;
    width: 100px;
    height: 40px;
    background-color: #FF7629;
    color: #F3F3F3;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}
/* nav end */
.container{
    height: 100vh;
}
/* Register section start */
.register-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    height:500px;

}
/* Register section end */

/* register form start */
.register-details,form,h1,label{
    background-color: #fff;
}
.register-details{
    border-radius: 10px;
    padding: 20px 40px;
    height: 410px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, input{
    margin-bottom: 20px;
}
h1{
    text-transform: uppercase;
    color: #000080;
}
label{
    text-transform: capitalize;
    color: #000080;
    font-weight: 700;
    margin-bottom: 10px;
}
input{
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
}
.input-btn:hover{
    padding: 10px;
    height: 40px;
    color: #F2F2F2;
    background-color: #FF7629;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid #FF7629;
    border-radius: 10px;
}
.input-btn{
    padding: 10px;
    height: 40px;
    color: #FF7629;
    background-color: rgb(219, 219, 219);
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}

/* login */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
.container{
    height: 100vh;
}
.login-page{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;

}
.login-details,form,h1,label{
    background-color: #fff;
}
.login-details{
    border-radius: 10px;
    padding: 20px 40px;
    height: 410px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h1, input{
    margin-bottom: 40px;
}
h1{
    text-transform: uppercase;
    color: #000080;
}
label{
    text-transform: capitalize;
    color: #000080;
    font-weight: 700;
    margin-bottom: 10px;
}
input{
    background-color: rgb(219, 219, 219);
    border: none;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
}
.input-btn:hover{
    padding: 10px;
    height: 40px;
    color: #F2F2F2;
    background-color: #FF7629;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid #FF7629;
    border-radius: 10px;
}
.input-btn{
    padding: 10px;
    height: 40px;
    color: #FF7629;
    background-color: rgb(219, 219, 219);
    font-weight: 700;
    text-transform: capitalize;
    border: none;
    border-radius: 10px;
}


