*{
    margin: 0;
    padding: 0;
}

.header{
    display: flex;
    gap: 70rem;
    margin-top: 2rem;
    padding: 20px;
    height: 10vh;
}

.logout{
    background-color:  #FF7629;
    color: white;
    width: 5%;
    height: 5vh;
    border: 1px solid  #FF7629;
    border-radius: 5px;
    margin-top: 1rem;
}

.section2{
    display: flex;
}

.users{
    width: 75%;
    border: 1px solid rgb(163, 159, 159);
    margin-top: 1rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-left: 2rem;
   margin-bottom: 1rem;
   background-color: white;
    display: grid;
    grid-template-columns: repeat(3,18rem);
}


.navigation{
    background-color: blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 65vh;
    margin-top: 1rem;
}

.dashboardbutton{
    background-color: white;
    border: 1px solid white;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border-radius: 5px;
}

.projectsbutton{
    background-color: #FF7629;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border: 1px solid #FF7629;
    border-radius: 5px;
}

.usersbutton{
    background-color: white;
    color: #000080;
    padding: 30px;
    width: 80%;
    margin: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.user1{
    background-color: grey;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
}
.user2{
    background-color: grey;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

.user3{
    background-color: grey;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
}

.user4{
    background-color: grey;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
}

.user5{
    background-color: grey;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
}

.user6{
    background-color: grey;
    width: 60%;
    padding: 7px;
    border-radius: 5px;
}

.user1 h1,h2,h3{
    color: #000080;
}

.user2 h1,h2,h3{
    color: #000080;
}

.user3 h1,h2,h3{
    color: #000080;
}

.user4 h1,h2,h3{
    color: #000080;
}

.user5 h1,h2,h3{
    color: #000080;
}

.user6 h1,h2,h3{
    color: #000080;
}

.user1 p{
    color: #FF7629;
}

.user2 p{
    color: #FF7629;
}

.user3 p{
    color: #FF7629;
}

.user4 p{
    color: #FF7629;
}

.user5 p{
    color: #FF7629;
}

.user6 p{
    color: #FF7629;
}