/* root styles */
:root{
    --primary: #FF7629;
    --secondary:#000080;
    --body:#f3f3f3;
    --light:400;
    --medium:600;
    --bold:800;
}
/* global styles */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
    background-color: var(--body);

}
/* header */
header{
    width: 100%;
    height: 5.8rem;
    display:flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    background:white;
    padding: 0.9rem;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
}
header .btn{
    background: var(--primary);
    color:white;
    font-weight: var(--medium);
    font-size:1rem;
    letter-spacing: .2rem;
    width:8rem;
    height: 3rem;
    border-radius: .5rem;
    outline:none;
    border:none;
}
/* Body */
.container{
    width:100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20rem 1fr;
    letter-spacing: .2rem;
    
}

.container .right{
    background: var(--secondary);
    height:100vh;
    width:100%;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
    
}

.container .right .items{
    width:100%;
    /* background:red; */
    height: 24rem;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    
}
.container .right .item{
    width: 94%;
    margin: 0 auto;
    padding:.5rem;
    height: 7rem;
    background: var(--body);
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    font-weight:var(--medium);
    font-size: 1.4rem;
    color: var(--secondary);
    border-radius: .5rem;
    cursor:pointer;
}
.container .right .active{
    background-color: var(--primary);
    color: white;
}
.container .right .item:hover, .container .right .item span ion-icon:hover{
    background-color: var(--primary);
    color: white;
}
.container .right .item span ion-icon{
    font-size: 1.8rem;
}
.container .left{
    background:white;
    margin:1rem 2rem;
    border-radius: .5rem;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction:column;
    gap: 1.3rem;
    height:96%;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);

}

.container .left h2{
    font-weight: 2rem;
    font-weight:var(--bold);
    color: var(--secondary);
    font-size: 2rem;
}
.container .left span{
    color:var(--primary)
}
.container .left .btn{
    color:white;
    background: var(--primary);
    border:none;
    padding: .5rem;
    width: 11rem;
    font-size: 1.2rem;
    border-radius: .5rem;
    text-align: center;
    font-weight:var(--medium);
    height: 3rem;
    cursor:pointer
}

.container .left .btn:hover , header .btn:hover{
    background:white;
    border: .15rem solid #FF7629;
    color: var(--secondary)
}
.container .left .task_container{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}
/* task */
.container .left .task_container .task{
    
    background:#f3f3f3;
    width:18rem;
    height: 18rem;
    border-radius: .5rem;
    text-align:center;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap: .5rem;
    padding:.5rem;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
}
.container .left .task_container .task .task_head{
    margin-top: 1rem;
    display:flex;
    justify-content: space-between;
    gap:1rem;
    align-items:center;
}
.container .left .task_container .task .task_head .task_image{
    width:2rem;
    height:2rem;
    border-radius:50%;
}
.container .left .task_container .task h3{
    color:var(--secondary)
}
.container .left .task_container .task p{
    color:var(--primary);
    font-weight:var(--medium)
}
.container .left .task_container .task .completed{
    width: 8rem;
    height: 2rem;
    padding: .5rem;
    text-align:center;
    background: green;
    color:white;
    font-weight: var(--light);
    font-size: .9rem;
    letter-spacing: .2rem;
    border:none;
    border-radius: .5rem;
    cursor: pointer;
}

.container .left .task_container .task .inprogress{
    width: 8rem;
    height: 2rem;
    padding: .5rem;
    text-align:center;
    background: red;
    color:white;
    font-weight: var(--light);
    font-size: .9rem;
    letter-spacing: .2rem;
    border:none;
    border-radius: .5rem;
    cursor: pointer;
}
a{
    text-decoration:none;
}
/* user info */

.left .info{
    width: 20rem;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#E2E3E4;
    padding: .5rem;
    height: 15rem;
    gap:.5rem;
    border-radius: .5rem;
    box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
   
}
.left .info h3{
    color: var(--secondary)
}
.left .info p{
    color: var(--primary);
    font-weight: var(--medium);
    font-size: 1.1rem;
}
.left .info .info_head {
    display:flex; 
    align-items:center;
}
.left .info .info_head .info_image{
    width: 5rem;
    border-radius: 50%;
}

.status {
    padding: 1rem;
    height: 2rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
}
  
  .status.online {
    border: 8px solid #41a700;
    color: #41a700;
  }
  
  .status.offline {
    border: 8px solid #f15c4f;
    color: #f15c4f;
  }

  @media screen and (max-width:770px){
    
  }